<header class="header">
	<aside class="aside left">
		<h2>{{widget('profile', 'lefttopwidget', { 'profileType': 'address' })|raw}}</h2>
	</aside>
	<div class="centre">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.svg')})|raw}}
		<h1>{{widget('companyname', 'companyname', {"business": "Lorem Ipsum"})|raw}}</h1>
	</div>
	<aside class="aside right">
		<h2>{{widget('profile', 'righttopwidget', { 'profileType': 'strapline' })|raw}}</h2>
	</aside>
</header>
<nav class="nav">
	{{widget('extendednavigation', 'navigationheader', {})|raw}}
</nav>